body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(93, 32, 104);
    color: white;
}
img{
    height: 60px;
}
.nav-items{
    padding: 5vh 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-list{
    display: flex;
    list-style: none;
    padding-left:2rem;
    
}
.list-items{
    padding: 0 2rem;
}

.content{
    padding: 5vh 10vh;
}

footer{
    padding: 5vh 10vh;
}

